asgiref==3.2.10
beautifulsoup4==4.9.3
bootstrap4==0.1.0
Django==3.1.2
django-bootstrap==0.2.4
django-bootstrap4==2.3.1
django-crispy-forms==1.9.2
django-forms-bootstrap==3.1.0
Pillow==7.2.0
pip==20.2.1
pytz==2020.1
setuptools==49.2.1
soupsieve==2.0.1
sqlparse==0.4.1
